.products-list-container .list-item {
    display: flex;
    height: 2rem;
    margin-top: .3rem;
    padding: .2rem;
}

.products-list-container .list-item .img {
    width: 2rem;
    margin-right: .4rem;
    overflow: hidden;
}

.products-list-container .list-item .img img {
    max-width: 100%;
    max-height: 100%;
}

.products-list-container .list-item .title {
    flex: 1;
}

.am-navbar {
    height: .8rem;
}

.my-drawer {
  position: relative;
  overflow: auto;
  height: calc(100vh - .8rem);
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 200px;
  padding: 0;
}