
.category-box {
    display: flex;
    height: 100%;
}

.category {
    width: 2.2rem;
    border-right: 1px solid #eee;
    overflow: scroll;
}

.right-container {
    flex: 1;
    overflow: scroll;
}

.category .title {
    font-size: .32rem
}

.actived {
    color: #1296db;
}

.right-container .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
    padding: 0;
}

.grid-item .title {
    color: #888;
    font-size: .28rem;
}

.grid-item .icon {
    width: 1rem;
    height: 1rem;
}

.sub-title {
    font-size: .32rem;
    height: .8rem;
}