
.product {
    img {
        max-width: 100vw;
    }
    
    table {
        width: 100vw;
    }

    .tabsContainer {
        height: calc(100vh - 43.5px - .8rem);
    }

    .selectSpk {
        height: 8rem;
        background: #fff;
    }

    :global(.am-drawer.am-drawer-bottom .am-drawer-sidebar) {
        overflow-y: visible;
        transform: translateY(110%);
    }

}



