.container {
    background: #eee;
    height: 100%;
}

.header-container {
    height: 3rem;
    padding: .5rem .4rem;
    background: #75746f;
    display: flex;
}

.header-container .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .04rem solid #fff;
}

.header-container .info {
    flex: 1;
    padding: .4rem;
}

.header-container .info p {
    height: .6rem;
    line-height: .6rem;
    text-align: left;
    color: #fff;
    font-size: .36rem;
}

ul.tab {
    display: flex;
    background: #fff;
}

ul.tab li {
    flex: 1;
    height: .8rem;
    line-height: .8rem;
}

ul.tab li:nth-child(1) {
    border-right: 1px solid #eee;
}

ul.tab li:nth-child(3) {
    border-left: 1px solid #eee;
}

.order .title {
    height: .6rem;
    line-height: .6rem;
    padding-left: .6rem;
    text-align: left;
}

.order ul.type {
    display: flex;
    background: #fff;
    padding: .2rem 0;
}

.order ul.type li {
    flex: 1;
}

.order ul.type li img {
    width: .6rem;
}

.list {
    margin-top: .2rem;
}

.list li {
    height: .8rem;
    line-height: .8rem;
    background: #fff;
    margin: .05rem 0;
    font-size: .32rem;
}